header {
    background: $c-primary;
    .container {
        position: relative;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 5rem;
        position: absolute;
        width: 95%;
        #header__burger {
            display: none;
            &:checked ~ .header__nav {
                right: 0;
            }
        }
        &__nav {
            transition: all .3s;
            @media screen and (max-width:480px) {
                position: fixed;
                right: -100%;
                top: 0;
            } 
        }
        &__burger {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 25px;
            height: 25px;
            position: relative;
            z-index: 100;
            @media screen and (max-width:480px) {
                display: flex;
                order:7;
            }
            .line {
                width: 100%;
                height: 2px;
                background: $c-white;
                margin-bottom: 3px;
                &:nth-child(2) {
                    width: 60%;
                }
                &:nth-child(3) {
                    width: 40%;
                }
            }
        }
        
        &__navigation {
            display: flex;
            @media screen and (max-width:480px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                width: 350px;
                background: $c-primary;
            }
            li {
                margin-right: 3rem;
                @media screen and (max-width:480px) {
                    margin-right: 0;
                    text-align: center;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color:$c-white;
                }
            }
            
        }
        &__login{
            display: none;
            @media screen and (max-width:480px) {
                display: block;
            }
        }
        &__subscribe {
            @media screen and (max-width:480px) {
                display: none;
            }
            .regular__input {
                width: 273px;
                margin-right: 1.2rem;
            }
            .regular__btn {
                width: 141px;
            }
        }
    }
}
