.hero {
    background-image: url('../img/gradient.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem 0 11rem 0;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:$c-white;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 2.7rem;
    }
    &__title {
        font-weight: 900;
        font-size: 5.5rem;
        text-align: center;
        margin-bottom: 2.7rem;
    }
    &__description {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
        max-width: 428px;
        text-align: center;
        margin-bottom: 9rem;
    }
    .regular__btn {
        width: 236px;
        font-weight: 700;
        font-size: 2.2rem;
        margin-bottom: 12rem;
    }
}