.partners {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
        color:$c-white;
        text-align: center;
    }
    &__title {
        font-size: 4.6rem;
        font-weight: 400;
        margin-bottom: 1.7rem;
    }
    &__subtitle {
        max-width: 300px;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 9rem;
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8.5rem;
        @media screen and (max-width:480px) {
            flex-direction: column;
        }
    }
    .link {
        margin: 0 2rem;
        @media screen and (max-width:480px) {
            margin: 2rem 0;
        }
    };
    .regular__btn {
        width: 236px;
    }
}