.pricing {
    padding: 10rem 0;
    .container {
        max-width: 876px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color:$c-white;
        flex-wrap: wrap;
        @media screen and (max-width:480px) {
            flex-direction: column;
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        @media screen and (max-width:480px) {
            text-align: center;
            margin-bottom: 9rem;
            align-items: center;
        }
    }
    &__title {
        font-weight: 900;
        font-size: 5.5rem;
        margin-bottom: 1.7rem;
    }
    &__description {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        max-width: 341px;
    }
    &__tariff {
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    &__price {
        font-weight: 900;
        font-size: 5.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        span {
            font-weight: 700;
            font-size: 1.6rem;
            margin-left: 1rem;
        }
    }
    &__info  {
        max-width: 250px;
        margin-bottom: 3rem;
        font-weight: 700;
        font-size: 1.6rem;
    }
    .regular__btn {
        width: 158px;
    }
    &__button {
        display: flex;
        @media screen and (max-width:480px) {
            justify-content: center;
        }
    }
}