.subscribe {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color:$c-white;
        @media screen and (max-width:480px) {
            flex-direction: column;
            .subscribe__subtitle,.subscribe__title {
                display: none;
            }
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
        @media screen and (max-width:480px) {
            margin-top: 10rem;
            align-items: center;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    &__title{
        font-weight: 400;
        font-size: 4.6rem;
        max-width: 300px;
        margin-bottom:2.7rem;
    }
    &__info {
        font-weight: 700;
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    &__desciption {
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom: 3.4rem;
    }
    .regular__input {
        margin-right: 1rem;
        width: 273px;
        @media screen and(max-width:480px) {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
    &__form {
        display: flex;
        @media screen and (max-width:480px) {
            flex-direction: column;
            width: 100%;
        }
    }
}