.subscribe {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        color:$c-white;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    &__title{
        font-weight: 400;
        font-size: 4.6rem;
        max-width: 300px;
        margin-bottom:2.7rem;
    }
    &__info {
        font-weight: 700;
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    &__desciption {
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom: 3.4rem;
    }
    .regular__input {
        margin-right: 1rem;
        width: 273px;
    }
}