include ./feature__item
section.features    
    .features__content.container 
        .features__top 
            p.features__subtitle At your fingertips
            h2.features__title Features
            p.features__description Most calendars are designed for teams. Slate is designed for freelancers
        .features__main 
            img(src="./img/window1.png", alt="").features__img
            .features__items 
                +feature__item('rest','At your fingertips','Slate helps you see how many more days you need to work to each your financial goal.')
                +feature__item('rest','At your fingertips','Slate helps you see how many more days you need to work to each your financial goal.')


