include ../components/button
include ../components/input
header
    .header.container 
        a(href="#").header__logo
            include ../../img/logo.svg
        input(type="checkbox")#header__burger
        label(for="header__burger").header__burger 
            span.line
            span.line
            span.line
        nav.header__nav
            ul.header__navigation
                each link in headerLinks
                    li
                        a(href= link.url)= link.label
        .header__login 
            +button('Login','white')
        .header__subscribe
            +input('email','Your Email','white')
            +button('Subsribe','white')
