include ../components/button
section.hero 
    .hero__content.container 
        p.hero__subtitle At your fingertips
        h1.hero__title Lightning fast prototyping 
        p.hero__description Most calendars are designed for teams. Slate is designed for freelancers
        +button('Try For Free','white')
        img(src="./img/laptop.png", alt="")