include ../components/button
section.pricing 
    .pricing__content.container
        .pricing__left
            h2.pricing__title Pricing
            p.pricing__description Slate helps you see how many more days 
                |you need to work to reach your financial 
                |goal for the month and year.
        .pricing__right
            h3.pricing__tariff 30 - DAY FREE TRIAL.
            h2.pricing__price $10 
                span / Month per User
            p.pricing__info Most calendars are designed for teams. 
            .pricing__button 
                +button('Get started','blue')

